/kaggle_files
/Projeto real para o portfólio - Parte 3 - Arquivo Final.ipynb
/Projeto real para o portfólio - Parte 3 - Arquivo Inicial.ipynb
/Projeto real para o portfólio - Sugestão.ipynb
/requirements.txt
/venv